<img class="login-container" src="https://t3.ftcdn.net/jpg/08/10/89/84/360_F_810898439_M7GxeIoecPFWfUaIekY0Qw3q4Kh2l0yO.jpg">

<div class="overlay"></div> <!-- Semi-transparent overlay -->

<div class="form-wrapper">
  <p-card header="Student Registration" class="registration-card" [style]="{backgroundColor:'transparent'}">
    <div class="form-group">
      <label for="srn">SRN</label>
      <input id="srn" type="text" pInputText />
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" type="text" pInputText />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <p-password  id="password" [toggleMask]="true" />
    </div>
    <div class="form-group">
      <label for="department">Department</label>
      <input id="department" type="text" pInputText />
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input id="age" type="number" pInputText />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="email" pInputText />
    </div>
    <div class="form-group-button">
      <p-button label="Register" class="register-btn"></p-button>
    </div>
  </p-card>
</div>
